server.port=8070

web.upload-path=/home/peng.he/Projects/temp/love-app-static
springboot.mvc.static-path-pattern=/**
spring.web.resources.static-locations=classpath:/META-INF/resources/,classpath:/static,classpath:/resources/,file:{web.upload-path}

jdbcUrl = jdbc:mysql://123.60.174.92:3306/app_orangemust?useUnicode=true&characterEncoding=UTF-8&useSSL=false
dataSource.user = app_orangemust
dataSource.password = CkLGfTMTn8e4z2WZ
dataSource.driverClassName=com.mysql.jdbc.Driver
# dataSource.tablePrefix = t_